QDialog {
    background-color: #2D2D30;
}

QFrame {
    border: 1px solid grey;
    border-radius: 0px;
}

QPushButton {
    border-radius: 0px;
}

QPushButton:hover {
    border: 1px solid lightblue;
    padding: 1px;
}

QPushButton#moreColorsButton, QPushButton#defaultColorButton {
    background-color: #2D2D30;
    color: white;
    border: 1px solid grey;
    padding: 3px;
    margin: 1px;
}

